@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    background-color: rgb(240, 239, 239);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

img {
    filter: grayscale(100%);
}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
   font-family: 'Montserrat Subrayada', sans-serif; 
}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: monospace;
}

form label{
    display: inline-block;
    width: 100px;
}
form{
    border: 2px solid #f5efc1;
    font-size: 15px;
    color: blanchedalmond;
    background-color: black;
    padding: 10px;
    margin-left:10%;
    margin-right: 10%;
    margin-top: 30PX;
}

#id_title{
    border: 2px solid #f5efc1;
    width: 80%;
    margin: 5px;
    background-color: rgb(240, 239, 239)

}

#id_content{
    border: 2px solid #f5efc1;
    width: 80%;
    margin: 5px;
    background-color: rgb(240, 239, 239)
}
#id_image_url{
    border: 2px solid #f5efc1;
    width: 80%;
    margin: 5px;
    background-color: rgb(240, 239, 239)
}

#id_pub_date{
    border: 2px solid whitesmoke;
    width: 80%;
    margin: 5px;
    background-color:  rgb(240, 239, 239)
}

#id_submit{
    display:block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #f5efc1;
    background-color: rgb(207, 204, 204)
}