{% extends 'base.html' %}

{% load static %} 

{% block stylesheets %}
<link rel='stylesheet' type="text/css" href="{% static 'news/styles.css'%}">

{% endblock %}

{% block content %}
{% comment %} <form method="post">
  {% csrf_token %}
  {{ user_form.as_p }}
  {{ profile_form.as_p }}
  <button type="submit">Save changes</button>
</form> {% endcomment %}
<h2>{{ object.username}}'s Profile</h2>
<p> </br>
<b>Username:</b>  {{ object.username}}</br>
<b>Email address:</b>  {{ object.email }}</br>
</p>

<h2> {{ object.username }}'s Stories </h2>

<div id="user_stories">
        {% if object.stories.all %}
            {% for story in object.stories.all %}
                {% include "./storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
</div>

{% endblock %}