{% extends 'base.html' %}

{% load static %} 

{% block stylesheets %}
<link rel='stylesheet' type="text/css" href="{% static 'news/styles.css'%}">

{% endblock %}

{% block content %}

{% comment %} <h2>{{ object.username}}'s Profile</h2></br>

<h3>About {{ object.username }}:</h3></br> 
<p id = "bio">{{ object.username.bio }}</P>
<h3>Date of Birth:</h3></br>  
<p id = "dob">{{ object.username.dob }}</br></p> {% endcomment %}


<h2> {{ object.username }}'s Stories </h2>
<div id="user_stories">
        {% if object.stories.all %}
            {% for story in object.stories.all %}
                {% include "./storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
</div>

{% endblock %}