{% extends "base.html" %}
{% load static %} 

{% block stylesheets %}
<link rel='stylesheet' type="text/css" href="{% static 'news/styles.css'%}">

{% endblock %}

{% block content %}

    {{ user.username }}
    {{ user.email }}


<div>
{% for NewsStory in posts %}
    Username: {{ NewsStory.author.username}}
    Post: {{ NewsStory.content }}

{% endfor %}
</div>

{<div id="user_stories">
        {% if user_stories %}
            {% for story in all_stories %}
                {% include "./storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
</div>

{% endblock %}