{% extends "base.html" %}
{% load static %} 

{% block stylesheets %}
<link rel='stylesheet' type="text/css" href="{% static 'news/styles.css'%}">
{% endblock %}

{% block content %}

<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <a href="{% url 'news:authorDetail' pk=story.author.pk %}"><h4>{{ story.author }}</h4></a>
    <div id="story-content">
        <img src="{{ story.image_url }}">
        {{ story.content|linebreaks }}
    
    {% if user.is_authenticated and request.user == story.author %}
        <a href="{% url 'news:storyUpdate' pk=story.pk %}"><p>Update Story</p></a>
    {% else %}
        {% comment %} <a href="{% url 'login' %}">Login</a> {% endcomment %}
    {% endif %}

    </div>

</div>
{% endblock %}

