{% extends 'base.html' %}

{% load static %} 

{% block stylesheets %}
<link rel='stylesheet' type="text/css" href="{% static 'news/styles.css'%}">

{% endblock %}

{% block content %}
{% if user.is_authenticated %}
        <a class="update" href ="{% url 'users:updateProfile' pk=request.user.pk %}"><p>Update your details</p></a>
    {% else %}
   
    {% endif %}

<h2>{{ user.username}}'s Profile</h2></br>
<h3>About me:</h3></br> 
<p id = "bio">{{ user.bio }}</P>
<h3>Date of Birth:</h3></br>  
<p id = "dob">{{ user.dob }}</br></p>


<h2> {{ user.username }}'s Stories </h2>

<div id="user_stories">
        {% if user_stories %}
            {% for story in all_stories %}
                {% include "./storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
</div>

{% endblock %}